
body {
  background: url("../assets/debut_light.png");
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.2em;
  margin: 2em;
  height: 32em;
}

h1 {
  font-size: 1em;
}

.picture_row {
	height: 5em;
}

#photo_1 {
	height: 200%;
	display: inline;
}

#photo_2 {
	height: 150%;
	display: inline;
	vertical-align: top;
}

#photo_4 {
	height: 180%;
	display: inline;
}

#photo_3 {
	height: 160%;
	display: inline;
	vertical-align: top;
}

#photo_6 {
	height: 150%;
	display: inline;
}

#photo_7 {
	height: 200%;
	display: inline;
}

#photo_8 {
	height: 160%;
	display: inline;
}


#photo_5 {
	height: 160%;
	display: inline;
	vertical-align: top;
}

#photo_9 {
	height: 130%;
	display: inline;
}

#photo_12 {
	height: 210%;
	display: inline;
}

#photo_11 {
	height: 160%;
	display: inline;
	vertical-align: top;
}

#photo_13 {
	height: 170%;
	display: inline;
}

p {
	display: inline;
	margin: 0 0.5em 0 0.5em;
}

.top {
	vertical-align: top;
}